---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.lang }}">
  <title>{{ site.blogName }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.baseUrl }}feed.xml" rel="self" />
  <link href="{{ site.baseUrl }}" />
  <updated>{{ collections.posts[0].date | isoDate }}</updated>
  <id>{{ site.baseUrl }}</id>
  <author><name>{{ site.author.name }}</name><uri>{{ site.author.url }}</uri></author>
  {%- for p in collections.posts | limit(60) %}
  {%- set abs = site.origin + (p.url | u) %}
  <entry>
    <title>{{ p.data.title }}</title>
    <link href="{{ abs }}" />
    <id>{{ abs }}</id>
    <published>{{ p.date | isoDate }}</published>
    <updated>{{ (p.data.updated or p.date) | isoDate }}</updated>
    {%- if p.data.categoryLabel %}<category term="{{ p.data.categoryLabel }}" />{% endif %}
    <summary>{{ p.data.description }}</summary>
  </entry>
  {%- endfor %}
</feed>
