Given the following request, generate a plausible hypothetical
answer.
Don't worry if the answer isn't accurate; just make it a reasonable
example of an answer to the query.

The answer should be at most {{ hyDE.wordCount }} words.

<request>
{{ ragRequest.query }}
</request>

<context>>
{{ hyDE.context }}
</context>
