[bumpversion]
current_version = 1.0.8
commit = False
tag = False
sign-tags = True
tag_name = v{new_version} # tag format (only used if you flip tag=True later)
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(-(?P<release>BETA|RC)-(?P<build>\d+))?
serialize =
    {major}.{minor}.{patch}-{release}-{build}
    {major}.{minor}.{patch}

[bumpversion:file:mcpgateway/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(chart-version):charts/mcp-stack/Chart.yaml]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file(chart-appversion):charts/mcp-stack/Chart.yaml]
search = appVersion: "{current_version}"
replace = appVersion: "{new_version}"

[bumpversion:file:SECURITY.md]
search = **Current Version: {current_version}**
replace = **Current Version: {new_version}**
