[submodule "alloydb"]
	path = plugins/cloud/data-agent-kit/alloydb
	url = https://github.com/gemini-cli-extensions/alloydb
	branch = 0.2.0
[submodule "alloydb-omni"]
	path = plugins/cloud/data-agent-kit/alloydb-omni
	url = https://github.com/gemini-cli-extensions/alloydb-omni
	branch = 0.2.1
[submodule "bigquery-data-analytics"]
	path = plugins/cloud/data-agent-kit/bigquery-data-analytics
	url = https://github.com/gemini-cli-extensions/bigquery-data-analytics
	branch = 0.2.1
[submodule "cloud-sql-mysql"]
	path = plugins/cloud/data-agent-kit/cloud-sql-mysql
	url = https://github.com/gemini-cli-extensions/cloud-sql-mysql
	branch = 0.2.0
[submodule "cloud-sql-postgresql"]
	path = plugins/cloud/data-agent-kit/cloud-sql-postgresql
	url = https://github.com/gemini-cli-extensions/cloud-sql-postgresql
	branch = 0.4.0
[submodule "cloud-sql-sqlserver"]
	path = plugins/cloud/data-agent-kit/cloud-sql-sqlserver
	url = https://github.com/gemini-cli-extensions/cloud-sql-sqlserver
	branch = 0.2.0
[submodule "data-agent-kit-starter-pack"]
	path = plugins/cloud/data-agent-kit/data-agent-kit-starter-pack
	url = https://github.com/gemini-cli-extensions/data-agent-kit-starter-pack
	branch = 0.6.1
[submodule "dataproc"]
	path = plugins/cloud/data-agent-kit/dataproc
	url = https://github.com/gemini-cli-extensions/dataproc
	branch = 0.1.0
[submodule "db-context-enrichment"]
	path = plugins/cloud/data-agent-kit/db-context-enrichment
	url = https://github.com/GoogleCloudPlatform/db-context-enrichment
	branch = v0.6.0
[submodule "firestore-native"]
	path = plugins/cloud/data-agent-kit/firestore-native
	url = https://github.com/gemini-cli-extensions/firestore-native
	branch = 0.3.1
[submodule "google-cloud-storage"]
	path = plugins/cloud/data-agent-kit/google-cloud-storage
	url = https://github.com/gemini-cli-extensions/google-cloud-storage
	branch = 1.2.0
[submodule "knowledge-catalog"]
	path = plugins/cloud/data-agent-kit/knowledge-catalog
	url = https://github.com/gemini-cli-extensions/knowledge-catalog
	branch = 0.5.2
[submodule "looker"]
	path = plugins/cloud/data-agent-kit/looker
	url = https://github.com/gemini-cli-extensions/looker
	branch = 0.3.5
[submodule "oracledb"]
	path = plugins/cloud/data-agent-kit/oracledb
	url = https://github.com/gemini-cli-extensions/oracledb
	branch = 0.2.3
[submodule "spanner"]
	path = plugins/cloud/data-agent-kit/spanner
	url = https://github.com/gemini-cli-extensions/spanner
	branch = 0.3.1
[submodule "cloud-bigtable-ecosystem"]
	path = plugins/cloud/data-agent-kit/cloud-bigtable-ecosystem
	url = https://github.com/GoogleCloudPlatform/cloud-bigtable-ecosystem.git
	branch = v0.4.0
