<html>
  <head>
    <title>Skills</title>
  </head>

  <body>
    <div x-data>
      <template x-if="$store.settings">
        <div>
          <nav>
            <ul>
              <li>
                <a href="#section-skills-list">
                  <img src="/public/skills.svg" alt="Skills" />
                  <span>List Skills</span>
                </a>
              </li>
              <li>
                <a href="#section-skills-import">
                  <img src="/public/skills_add.svg" alt="Skills" />
                  <span>Import Skills</span>
                </a>
              </li>
              <li>
                <a href="#section-skills-scan">
                  <x-icon aria-hidden="true" name="radar"></x-icon>
                  <span>Scan Skills</span>
                </a>
              </li>
            </ul>
          </nav>

          <div id="section-skills-list" class="section">
            <x-component path="settings/skills/list.html"></x-component>
          </div>

          <div id="section-skills-import" class="section">
            <x-component path="settings/skills/import.html"></x-component>
          </div>

          <div id="section-skills-scan" class="section">
            <x-component path="settings/skills/scan.html"></x-component>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
