.breadcrumbsContainer {
  --ifm-breadcrumb-size-multiplier: 0.8;
}

.contextual-back {
  cursor: pointer;
  font-weight: 500;
}

.contextual-back:hover {
  background: var(--ifm-breadcrumb-item-background-active);
  color: var(--ifm-link-hover-color);
  text-decoration: none;
}

@media (width >= 62.25rem) {
  .contextual-back:hover {
    color: var(--mastra-text-primary);
  }
}
