aiofiles
aiohttp
boto3
botocore
deepeval
dlt
fastapi
fastapi_users
fastapi_users_db_sqlalchemy
fastembed
filetype
gdown
graphistry
graphiti_core
instructor
Jinja2
langchain_text_splitters
langdetect
langfuse
limits
litellm
llama_index
matplotlib
mistral_common
modal
neo4j
nltk
numpy
owlready2
pandas
plotly
protobuf
pydantic
pydantic_core
pydantic_settings
PyJWT
pymilvus
pypdf
pytest
qdrant_client
Requests
s3fs
scikit_learn
sentry_sdk
structlog
tenacity
transformers
tree_sitter
tree_sitter_python
typing_extensions
unstructured
uvicorn
weaviate
