# Ignore common unwanted files globally
**/.DS_Store
**/.env
**/__pycache__/
*.py[cod]
**/.conda/
**/node_modules/

#Ignore IDE files
.cursor/
.windsurf/

# ignore test files in root dir
/*.test.py

# Ignore all contents of the virtual environment directory
.venv/

# obsolete folders
/memory/
/knowledge/custom/
/instruments/
/logs/

# Handle tmp and usr directory
tmp/**
!tmp/**/

# hack to keep .gitkeep but ignore nested repos
# Ignore everything under usr
usr/**
# Ignore nested repos
/usr/**/.git
# Allow git to traverse directories
!usr/**/
# Re-ignore everything again
usr/**/*
# But allow .gitkeep files
!usr/**/.gitkeep


# Global rule to include .gitkeep files anywhere
!**/.gitkeep

# for browser-use
agent_history.gif

.agent/**
.claude/**
.playwright-cli/
