* text=auto

*.{bmp,dll,gif,jpg,png,snk,exe,wmv,mp4,ismv,isma} binary

*.cs text diff=csharp
*.csproj text=auto
*.{sln,slnx} text=auto eol=crlf
*.sh text=auto eol=lf

.github/workflows/*.lock.yml linguist-generated=true merge=ours
